
<h1> New addition </h1>

<form action="/wizard_add">
  <div>
  
  <label for="first_num"> Add this: </label>
  <input id="first_num" type="text" placeholder="" name="first_number">

  <label for="second_num"> to this: </label>
  <input id="second_num" type="text" placeholder="" name="second_number">

  <button>Add!</button>
  
  </div>

</form>
