
<h1> New multiplication </h1>

<form action="/wizard_multiply">
  <div>
  
  <label for="first_num"> Multiply this: </label>
  <input id="first_num" type="text" placeholder="" name="first_number">

  <label for="second_num"> by this: </label>
  <input id="second_num" type="text" placeholder="" name="second_number">

  <button>Multiply!</button>
  
  </div>

</form>
